@import url("https://pdavlin.github.io/self-hosted-user-code/common/main.css");

/* we have a local variant of BM that I prefer */
@font-face {
  font-family: "BerkeleyMonoLocal";
  src: url("https://stream.davlin.io/public/BerkeleyMono-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* remapping Owncast variables to my theme */
  --theme-color-background-main: var(--background-color);
  --theme-color-action: var(--theme-color-background-main, #0780b5);
  --theme-color-action-hover: var(--base04, #0780b5);
  --theme-color-components-primary-button-border: var(
    --foreground-color,
    #0780b5
  );
  --theme-color-components-primary-button-text: var(--foreground-color);
  --theme-color-background-header: var(--base00, #121613);
  --theme-color-components-content-background: var(--background-color);
  --theme-color-components-text-on-dark: var(--background-color);
  --theme-color-components-text-on-light: var(--foreground-color);
  --theme-color-components-menu-item-focus-bg: var(--base06);
  --theme-color-components-video-background: var(--base01);

  --font-owncast-display: "BerkeleyMonoLocal";
  --font-owncast-body: "BerkeleyMonoLocal";

  --chat-message-text-size: 16px !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: var(--foreground-color);
}

hr {
  border-top: 1px solid var(--preferred-accent-color) !important;
}

::selection {
  background-color: var(--preferred-accent-hover-color);
}

body a {
  color: var(--preferred-accent-color);
}

#header-logo {
  display: none;
}

#chat-container {
  --theme-color-components-chat-text: var(--foreground-color);
  font-family: "BerkeleyMonoLocal", Consolas, monospace;
  background: var(--background-color);
  color: var(--foreground-color);
}

/* Ant Design Buttons */

.ant-btn-primary:focus,
.ant-btn-primary:hover {
  background-color: var(--background-color);
  color: var(--preferred-accent-color);
  border-color: var(--preferred-accent-color);
}

/* Ant Design Tabs */

.ant-tabs {
  color: var(--foreground-color);
}

.ant-tabs-tab:hover,
.ant-tabs-tab-btn:hover,
.ant-tabs-tab.ant-tabs-tab-active:hover {
  color: var(--preferred-accent-color);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover {
  color: var(--preferred-accent-color);
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: var(--background-color);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  background-color: var(--theme-color-background-main, #fff);
  color: var(--foreground-color);
}

.ant-tabs-ink-bar {
  background-color: var(--preferred-accent-color);
}

/* Specific element changes (unsure if these generated class names will change) */

/* header font */
.Header_header__h_8kj {
  font-family: "BerkeleyMonoLocal", Consolas, monospace;
}

/* logo below video player */
.Logo_root__BkHmT {
  background-color: var(--background-color);
  border-color: var(--preferred-accent-color);
}

/* theme for markdown content */
.CustomPageContent_customPageContent__vNiml {
  --custom-content-accent-color: var(--preferred-accent-color);
}

/* visually distinct hover color for links */
.CustomPageContent_customPageContent__vNiml a:hover {
  color: var(--preferred-accent-hover-color);
}

/* body content between headers */
.CustomPageContent_customPageContent__vNiml > h5 ~ * {
  border-left: var(--border-thickness) solid var(--custom-content-accent-color);
  border-right: var(--border-thickness) solid var(--custom-content-accent-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* first sibling after h5 tag */
.CustomPageContent_customPageContent__vNiml > h5 + * {
  border-top: var(--border-thickness) solid var(--custom-content-accent-color);
  padding-top: 1rem;
}

/* last sibling after an h5 tag */
.CustomPageContent_customPageContent__vNiml > h5 ~ *:has(+ h5),
.CustomPageContent_customPageContent__vNiml > h5 ~ *:last-child {
  border-bottom: var(--border-thickness) solid
    var(--custom-content-accent-color);
}

/* header tags (move inside/on top of border and style) */
.CustomPageContent_customPageContent__vNiml > h5 {
  background: var(--background-color);
  border: none;
  color: var(--custom-content-accent-color);
  margin: 0 0 0 0.5rem;
  font-size: 1rem;
  padding: 0 0.5rem;
  transform: translateY(1rem);
  width: fit-content;
}

/* provide accent color for offline banner links so it doesn't fade into offline banner color */
.OfflineBanner_actionLink__g64az:hover {
  color: var(--preferred-accent-color);
}

/* spacing for content inside ant design tab */
.Content_bottomPageContentContainer__zagTZ {
  padding-top: 0;
}

/* styles for follower links */
.SingleFollower_follower__QdHxf {
  border: var(--border-thickness) solid var(--base05);
  border-radius: 0;
}

.SingleFollower_follower__QdHxf:hover {
  border-color: var(--preferred-accent-color);
  color: var(--preferred-accent-color);
}

@media (prefers-color-scheme: dark) {
  .Header_header__h_8kj h1 {
    color: var(--foreground-color);
  }

  .Footer_footer__2_6CR {
    color: var(--foreground-color);
  }

  .Footer_footer__2_6CR a {
    color: var(--foreground-color);
  }

  .ChatUserBadge_badge__Nf_Gh {
    background: none;
  }

  .OfflineBanner_actionLink__g64az {
    color: var(--preferred-accent-color);
  }

  .OfflineBanner_actionLink__g64az:hover {
    color: var(--preferred-accent-hover-color);
  }
}
