@import url("https://pdavlin.github.io/self-hosted-user-code/common/main.css");

:root {
  --alert-color: var(--base0a);
  --alert-error-color: var(--base08);
  --alert-success-color: var(--base0b);
  --body-background: var(--base07);
  --body-color: var(--base00);
  --link-color: var(--base0d);
  --link-focus-color: var(--base08);
  --link-hover-color: var(--base00);
  --link-visited-color: var(--base0e);
  --header-link-color: var(--base02);
  --header-link-hover-color: var(--base0b);
  --header-list-border-color: var(--base06);
  --hr-border-color: var(--base05);
  --title-color: var(--base00);

  --font-family: "Berkeley Mono";
  --entry-content-font-family: "Merriweather", Georgia, "Times New Roman", Times,
    serif;
  --entry-content-font-weight: 400;
}

button {
  font-family: var(--font-family);
}

.logo a span {
  color: var(--base0b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--base00);
    --body-color: var(--base07);
    --link-color: var(--base05);
    --link-hover-color: var(--base07);
    --title-color: var(--base07);
  }
}
