@import url("https://pdavlin.github.io/self-hosted-user-code/common/main.css");

:root {
  letter-spacing: -0.05ch;
  font-weight: 300;
  --label-font-weight: 500;
}

* {
  color: var(--foreground-color) !important;
  text-shadow: none !important;
}

body {
  background: var(--background-color) !important;
}

main {
  background: var(--background-color) !important;
}

#profile-picture {
  border-radius: 50%;
  box-shadow: none;
}

#profile-items,
#hobbies,
#keys {
  padding-top: 0;
  margin-top: 0;
  border-radius: var(--border-radius);
  border: var(--border-thickness) solid var(--border-color);
  transition: border-color var(--transition-timing);
  position: relative;
}

#hobbies,
#keys,
#footer {
  margin-top: 1.5rem;
}

#profile-items:hover,
#hobbies:hover,
#keys:hover {
  border-color: var(--accent-border-color);
}

#profile-items::after,
#hobbies::after,
#keys::after {
  display: block;
  color: var(--base03);
  font-weight: var(--label-font-weight);
  position: absolute;
  top: -10px;
  left: 8px;
  background-color: var(--background-color);
  padding: 0 4px;
  z-index: 100;
  transition: color var(--transition-timing);
}

#profile-items:hover::after,
#hobbies:hover::after,
#keys:hover::after {
  color: var(--preferred-accent-color);
}

#profile-items::after {
  content: "social media profiles";
}

#hobbies::after {
  content: "hobbies";
}

#keys::after {
  content: "keys";
}

.omg-verified {
  color: var(--preferred-accent-color) !important;
}
