@import url("https://pdavlin.github.io/self-hosted-user-code/common/main.css");

:root {
  letter-spacing: -0.05ch;
  font-weight: 300;
  --label-font-weight: 500;

  --bg-0: var(--base00);
  --bg-1: var(--base01);
  --bg-2: var(--base02);
  --bg-3: var(--base03);

  --selected: color-mix(in oklab, --txt-0 70%, white);

  --txt-dark: var(--bg-0);
  --txt-link: var(--cyan);
  --txt-0: var(--base07);
  --txt-1: var(--base06);
  --txt-2: var(--base05);
  --txt-3: var(--base04);

  --acc-0: var(--preferred-accent-color);

  --border-width: 2px;
  --border-color: var(--bg-3);
  --border-transition: 0.2s ease;
}

* {
  color: var(--txt-0) !important;
  text-shadow: none !important;
}

body {
  background: var(--background-color) !important;
}

main {
  background: var(--background-color) !important;
}

#profile-picture {
  border-radius: 50%;
  box-shadow: none;
}

#profile-items,
#hobbies,
#keys {
  padding-top: 0;
  margin-top: 0;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  transition: border-color var(--transition-timing);
  position: relative;
}

#hobbies,
#keys,
#footer {
  margin-top: 1.5rem;
}

#profile-items:hover,
#hobbies:hover,
#keys:hover {
  border-color: var(--preferred-accent-color);
}

#profile-items::after,
#hobbies::after,
#keys::after {
  display: block;
  color: var(--bg-3);
  font-weight: var(--label-font-weight);
  position: absolute;
  top: -10px;
  left: 8px;
  background-color: var(--bg-0);
  padding: 0 4px;
  z-index: 100;
  transition: color var(--border-transition);
}

#profile-items:hover::after,
#hobbies:hover::after,
#keys:hover::after {
  color: var(--preferred-accent-color);
}

#profile-items::after {
  content: "social media profiles";
}

#hobbies::after {
  content: "hobbies";
}

#keys::after {
  content: "keys";
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-0: var(--base07);
    --bg-1: var(--base06);
    --bg-2: var(--base05);
    --bg-3: var(--base04);

    --txt-0: var(--base00);
    --txt-1: var(--base01);
    --txt-2: var(--base02);
    --txt-3: var(--base03);
  }
}

.omg-verified {
  color: var(--preferred-accent-color) !important;
}
